@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    color: aqua;
    font: sans-serif;
}

p {
    color: darkblue;
    font: small;
    font-family: 'Roboto', sans-serif;
}

.box p {
    color: red;
}

body {
    background-color: darkgrey;